# File: .gitconfig
# SPDX-License-Identifier: Unlicense
#
# This is free and unencumbered software released into the public domain.


[user]
    name = Justin Hanekom
    email = justin_hanekom@yahoo.com

[alias]
    cp = cherry-pick
    co = checkout

    sta = status
    stat = status
    stb = status -sb

    ci = commit
    ca = commit --amend -m
    cam = commit --all --message
    cm = commit -m
    cmm = commit -Ssm
    ss = commit --amend -S

    last = log -1 HEAD --stat

    ls = ls-files

    lg = log -p
    ll = log --oneline
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local

    df = diff
    ds = diff --staged

    # Show files ignored by git:
    ign = ls-files -o -i --exclude-standard

    # Display all the consul list
    cl = config --list

    # Display all the git aliases
    aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

[color]
    ui = true

[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[core]
    excludesfile = ~/.gitignore_global
    editor = nano

[push]
    default = simple

[pull]
    rebase = false

[init]
    defaultBranch = main

[fetch]
    prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
